body {
     background-color: rgb(154, 206, 241);
     color: black;
     margin: 0px;
}

header {
  border-bottom: solid 2px black;
  padding: 20px;
  font-size: 32px;
  color: black;
}

section{
   background-color: #ff0303;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada{
  margin-right: 5%;
}
h1 {
    font-size: 30px;
}

p {
    color: azure;
    font-size: 16px;
}
















































